<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Shiva Velingker: Portfolio</title>

	<!-- Core -->
	<script src="./lib/onsenui/js/onsenui.js"></script>
	<script src="./lib/angular/angular-1.5.8.min.js"></script>
	<script src="./lib/onsenui/js/angular-onsenui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- App Files -->
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>

	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
	<link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/col.css">
	<link rel="stylesheet" href="css/3cols.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Love+Ya+Like+A+Sister|Open+Sans:300|Poiret+One" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="app">

	<ons-splitter var="menu"
			style="overflow-y: hidden;">
		<ons-splitter-side
			id="menu"
			ng-controller="Menu"
			ng-init="init()"
			side="left"
			width="220px">
			<ons-page>
				<!-- Name -->
				<ons-row
					class="menu-title"
					style="height: 15%; max-height: 20%;">
					<ons-col
						style="padding-left: 5%;"
						vertical-align="bottom">
						Shiva M <br>
						Velingker
					</ons-col>
				</ons-row>

				<!-- Navigator -->
				<ons-row
					style="max-height: 5%; padding: 10px; text-align: center;">
					<ons-col
						style="padding-left: 5%;"
						vertical-align="bottom">
						<!-- <a id="about"
							ng-click="about()">
							about</a> /  -->
						<a id="resume"
							ng-click="resume()">
							resume</a> / 
						<a id="projects"
							ng-click="projects()">
							projects</a>
					</ons-col>
				</ons-row>

				<!-- Quote -->
				<ons-row
					style="min-height: 25%; max-height: 30%; padding: 10px;">
					<ons-col
						class="quote"
						vertical-align="middle">
						I can't help but stay up late at night, working on projects that ignite my passions.
					</ons-col>
				</ons-row>

				<!-- Image -->
				<ons-row
					style="min-height: 25%;">
					<ons-col style="text-align: center;">
						<img
							src="html/images/headshot.jpg"
							width="90%"/>
					</ons-col>
				</ons-row>

				<!-- Contact -->
				<ons-row style="min-height: 10%;">
					<!-- GitHub -->
					<ons-col
						style="text-align: center;"
						vertical-align="center">
						<ons-icon
							ng-click="gitHub()"
							icon="ion-social-github"
							size="2x">
						</ons-icon>
					</ons-col>

					<!-- Phone -->
					<ons-col
						style="text-align: center;"
						vertical-align="center">
						<ons-icon
							ng-click="phone()"
							icon="ion-android-call"
							size="2x">
						</ons-icon>
					</ons-col>

					<!-- Email -->
					<ons-col
						style="text-align: center;"
						vertical-align="center">
						<ons-icon
							ng-click="email()"
							icon="ion-ios-email"
							size="2x">
						</ons-icon>
					</ons-col>
				</ons-row>
			</ons-page>
		</ons-splitter-side>

		<ons-splitter-content>
			<ons-navigator var="nav">
				<ons-page></ons-page>
			</ons-navigator>
		</ons-splitter-content>
	</ons-splitter>

</body>
</html>