<ons-page ng-controller="Projects" ng-init="init()">
	<ons-toolbar>
		<div class="center">
			<h1 class="header">Personal Projects</h1>
		</div>
	</ons-toolbar>

	<!-- Intro Quote -->
	<ons-row class="handwriting">
		<ons-col class="large" style="margin-top: 15px;">
			<div>
				{{ intro_quote1 }}
			</div>
			<div style="color: white; background-color: black;">
				{{ intro_quote2 }}
			</div>
		</ons-col>
	</ons-row>

	<!-- Reveal Button -->
	<ons-row class="revealBtn">
		<ons-col style="text-align: center;">
			<ons-button ng-click="reveal()" modifier="bRed">
			Take a Look
			</ons-button>
		</ons-col>
	</ons-row>

	<!-- Lesser Quote -->
	<ons-row class="handwriting reveal">
		<ons-col class="regular" style="margin: 10px;">
			The projects I work on fall into two main themes:
		</ons-col>
	</ons-row>

	<!-- Project Headers -->
	<ons-row class="reveal">
		<ons-col
			class="theme"
			style="color: white; background-color: black;">
			Efficiency
		</ons-col>
		<ons-col
			ng-if="!isMobile()"
			class="theme"
			style="color: white; background-color: black; border-left: 1px solid; border-color: white;">
			Creativity
		</ons-col>
	</ons-row>

	<!-- Projects -->
	<ons-row class="reveal" style="margin-bottom: 15px;">
		<ons-col>
			<ons-card
				ng-repeat="project in projects"
				ng-if="project.type == 0">
				<div class="title">
					{{ project.name }}
					<ons-icon
						icon="ion-link"
						ng-if="project.link"
						ng-click="openLink(project.link)"
						style="color: blue;">
					</ons-icon>
				</div>
				<div class="content">
					<ons-row>
						<ons-col>
							{{ project.desc }}
						</ons-col>
						<ons-col
							style="max-width: 30%; text-align: right;"
							vertical-align="center">
							<span
								ng-repeat="lang in project.languages"
								class="label label-as-badge"
								style="background-color: {{ getColor(lang) }};">
								{{ lang }}
							</span>
						</ons-col>
					</ons-row>
					<ons-row style="max-height: 50%;">
						<ons-col>
							<img
								ng-if="project.img"
								ng-click="feature(project.img)"
								src="{{ project.img }}"
								class="projectImg"/>
						</ons-col>
					</ons-row>
					<ons-row>
						<ons-col>
							<ul style="margin-top: 5px;">
								<li ng-repeat="desc in project.details" ng-bind-html="desc | unsafe">
									{{ desc }}
								</li>
							</ul>
						</ons-col>
					</ons-row>
				</div>
			</ons-card>
		</ons-col>
		<ons-col
			ng-if="!isMobile()"
			style="border-left: 1px dashed;">
			<ons-card
				ng-repeat="project in projects"
				ng-if="project.type == 1">
				<div class="title">
					{{ project.name }}
					<ons-icon
						icon="ion-link"
						ng-if="project.link"
						ng-click="openLink(project.link)"
						style="color: blue;">
					</ons-icon>
				</div>
				<div class="content">
					<ons-row>
						<ons-col>
							{{ project.desc }}
						</ons-col>
						<ons-col style="max-width: 30%; text-align: right;" vertical-align="center">
							<span
								ng-repeat="lang in project.languages"
								class="label label-as-badge"
								style="background-color: {{ getColor(lang) }};">
								{{ lang }}
							</span>
						</ons-col>
					</ons-row>
					<ons-row style="max-height: 50%;">
						<ons-col>
							<img
								ng-if="project.img"
								ng-click="feature(project.img)"
								src="{{ project.img }}"
								class="projectImg"/>
						</ons-col>
					</ons-row>
					<ons-row>
						<ons-col>
							<ul style="margin-top: 5px;">
								<li ng-repeat="desc in project.details" ng-bind-html="desc | unsafe">
									{{ desc }}
								</li>
							</ul>
						</ons-col>
					</ons-row>
				</div>
			</ons-card>
		</ons-col>
	</ons-row>

	<!-- Mobile view: Creativity and projects -->
	<ons-row class="reveal">
		<ons-col
			ng-if="isMobile()"
			class="theme"
			style="color: white; background-color: black; border-left: 1px solid; border-color: white;">
			Creativity
		</ons-col>
	</ons-row>
	<ons-row class="reveal">
		<ons-col ng-if="isMobile()">
			<ons-card
				ng-repeat="project in projects"
				ng-if="project.type == 1">
				<div class="title">
					{{ project.name }}
					<ons-icon
						icon="ion-link"
						ng-if="project.link"
						ng-click="openLink(project.link)"
						style="color: blue;">
					</ons-icon>
				</div>
				<div class="content">
					<ons-row>
						<ons-col>
							{{ project.desc }}
						</ons-col>
						<ons-col style="max-width: 30%; text-align: right;" vertical-align="center">
							<span
								ng-repeat="lang in project.languages"
								class="label label-as-badge"
								style="background-color: {{ getColor(lang) }};">
								{{ lang }}
							</span>
						</ons-col>
					</ons-row>
					<ons-row style="max-height: 50%;">
						<ons-col>
							<img
								ng-if="project.img"
								ng-click="feature(project.img)"
								src="{{ project.img }}"
								class="projectImg"/>
						</ons-col>
					</ons-row>
					<ons-row>
						<ons-col>
							<ul style="margin-top: 5px;">
								<li ng-repeat="desc in project.details" ng-bind-html="desc | unsafe">
									{{ desc }}
								</li>
							</ul>
						</ons-col>
					</ons-row>
				</div>
			</ons-card>
		</ons-col>
	</ons-row>

	<!-- Image Modal -->
	<ons-modal var="imgModal" ng-click="close()">
		<ons-button
			ng-click="close()"
			style="position: fixed; top: 10px; right: 10px;"
			modifier="quiet">
			X
		</ons-button>
		<ons-row>
			<ons-col>
				<img
					id="featuredImg"
					src="{{ featuredImg }}"/>
			</ons-col>
		</ons-row>
	</ons-modal>
</ons-page>