<ons-page ng-controller="Resume" ng-init="init()">
	<ons-row style="text-align: center; padding: 1%;">
		<ons-col>
			<ons-button ng-click="getResume()" modifier="bBlue large">
				<ons-icon icon="ion-android-download"></ons-icon>
				Download Resume
			</ons-button>
		</ons-col>
	</ons-row>

	<div ng-if="false" class="section group">
		<div class="col span_1_of_3" style="width: 25%;">
			<h2> Education </h2>
		</div>
		<div class="col span_1_of_3" style="width: 25%;">
			<h2> Skills </h2>
		</div>
		<div class="col span_1_of_3" style="width: 25%;">
			<h2> Skills </h2>
		</div>
	</div>

</ons-page>